/* conventional naming:
.nladmin_this_class { color:blue; }
#nladmin_this_id { color:blue; }

this is important to avoid conflict with your (or others) default stylesheet.

*/
#nladmin-subscribers {
	width:100%;
	border:1px solid #ccc;
	/*border-collapse:collapse;*/
}
#nladmin-subscribers th { padding:5px; }
#nladmin-subscribers tr, #nladmin-subscribers td { border:1px solid #bbb; }
#nladmin-subscribers td { padding:2px; }
#status-message {
	font:bold 12px arial;
}
#status-message-green { font:bold 12px arial; }
#status-message-red { font:bold 12px arial; }

#hint { margin-bottom: 5px; text-transform: uppercase; background-color: #ffffea;
    color: inherit; text-align: center; border: 1px solid green;padding: 5px;
}
