#nl-content-container {width: 70%; margin: 30px auto; }
#nl-content-container ul { margin: 3px 5px; }
#nl-content-container li, #nl_content_container li a { list-style-type: square; }
#nl-content-container li a:hover { font-style: italic; }

/* styles for module admin menus */
div.pn-adminbox div.pn-menu {
    width: 100%;
	text-align: left;
}

div.pn-adminbox .pn-menuitem-title {
	width: 99%;
	background: url(../pnimages/button_bkg.gif) repeat;
	height: 1.5em;
	display: block;
	padding-top: 5px;
	padding-left: 5px;
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc;
}

/* style for Immediate template under the tab menu */
div.pn-adminbox {
	width: auto;
    color: inherit;
	border-top: 0px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	border-bottom: 0px solid #ccc;
	padding: 5px 1% 5px 1%; /* top, right, bottom, left */
}

/* style for Immediate template under the admin menu */
div.pn-admincontainer {
	width: auto;
    color: inherit;
	margin-bottom: 1.25em;
	border-top: 0px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
	padding: 0px 1% 5px 1%; /* top, right, bottom, left */
	
}

/* container for admin icons in main admin panel */
div.pn-adminiconcontainer {
    padding-bottom: 1.25em;
	text-align: center;
	height: 7em;
}

/* admin category description */
div.pn-admincategorydescription {
    text-align: center;
	margin-bottom: 10px;
}

/* style for main admin tables */
table.pn-admintable {
	width: 100%;
    color: inherit;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	margin-top: 0px;
	margin-bottom: 1em;
	padding: 5px 5px 10px 5px; /* top, right, bottom, left */
}

table.pn-admintable tr.pn-admintableempty {
	text-align: center;
    font-weight: bold;
}
	
table.pn-admintable caption {
	background-color: #f3f3f3;
	font-weight: bold;
	border-bottom: 2px solid #CFCFCF;
	text-transform: uppercase;
	padding:10px;
}

table.pn-admintable thead tr {
	background-color: #CFCFCF;
}

/* stying for the cell elements in admin tables */
table.pn-admintable tbody td, table.pn-admintable thead th{
	padding: 5px;
	border-width: 0px;
}

/* style to highlight a default row in a table */
table.pn-admintable tbody tr.pn-defaulttablerow {
    background-color: #add8e6;
    color: inherit;
}

/* classes to define two colors for alternating rows in admin views */
table.pn-admintable tbody tr.pn-even, div.pn-admincontainer ul li.pn-even, div.pn-admincontainer ol li.pn-even {
	background-color: #fff;
    color: inherit;
}
table.pn-admintable tbody tr.pn-odd, div.pn-admincontainer ul li.pn-odd, div.pn-admincontainer ol li.pn-odd{
	background-color: #f3f3f3;
    color: inherit;
}

/* style to add to current row when hovered over */
table.pn-admintable tbody tr:hover {
	background-color: #CFCFCF;
}

/* style for Immediate template under the admin menu */
div.pn-adminbox h1 {
	text-align: left;
}

div.pn-admincontainer h2 {
	text-align: left;
	border-bottom: 1px solid #cccccc;
    margin-top: 0px;
}

/* main admin form style */
form.pn-adminform {
	border-bottom: 1px solid #ccc;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	padding: 10px 0;
	margin: 10px 0px 10px 0px; /* top, right, bottom, left */
}
.accesskey {
	text-decoration: underline
}

/* formrow is used to style a div containing a label and control pair */
div.pn-adminformrow {
	border-top: 0px solid #ccc;
	padding: 5px 0px 10px 0px; /* top, right, bottom, left */
	min-height: 2em;
}

/* style for a input control contained in a div of class formrow */
/* style for a textarea control contained in a div of class formrow */
/* style for a select control contained in a div of class formrow */
/* style for a div contained in a div of class formrow - allows for grouping
of a control and subsequent non label text.
e.g. yes (radio) no (radio)*/
div.pn-adminformrow input, div.pn-adminformrow textarea,
div.pn-adminformrow select, div.pn-adminformrow label {
	margin-left: 2em;
	text-align: left;
}
div.pn-adminformrow span {
	margin-left: 2.5em;
}

/* styles for lists of controls */
div.pn-adminformrow ul {
    list-style: none;
}
div.pn-adminformrow label + ul > li {
    margin-left: 23.9em;
}
div.pn-adminformrow label + ul > li:first-child {
    margin-left: 0em;
}

/* styles to ensure that control elements inside the floated div directly above
don't themselves float*/
div.pn-adminformrow div input, div.pn-adminformrow div textarea,
div.pn-adminformrow div select {
	float: none;
}

/* styles to allow sub headings to be embedded correctly in admin forms */
form.pn-adminform div h1, form.pn-adminform div h2, form.pn-adminform div h3,
form.pn-adminform div h4, form.pn-adminform div h5, form.pn-adminform div h6 {
	padding: 10px;
}

/* styles for lists inside an admin form */
div.pn-adminformrow ul {
	padding: 0px;
    margin-top: 0px;
}
div.pn-adminformrow li {
	margin-left: 25em;
}

/* add the help cursor to labels that provide additional help via the title
tag of the label */
form.pn-adminform label.pn-adminformhelp {
    cursor: help;
}

/* style for a label contained in a div of class formrow */
div.pn-adminformrow>label {
	float: left;
	width: 23em;
	margin-left: 5px;
    padding: 0px 5px 0px 0px;
	text-align: right;
}

/* styles for the buttons on a form */
form.pn-adminform div.pn-adminformbuttons {
	text-align: left;
	margin-left: 15em;
}
form.pn-adminform div.pn-adminformbuttons input, form.pn-adminform div.pn-adminformbuttons img {
	margin: 5px;
}
/* styles for the buttons on a view table */
div.pn-adminviewbuttons  {
	text-align: right;
	margin-bottom: 1.25em;
}
div.pn-adminviewbuttons img {
	margin: 5px;
	float: right;
}

/* style the button tag */
div.pn-admincontainer button {
    border: 0px;
	padding: 0px;
	background-color: transparent;
}

/* styling for status security analyzer */
div#pn-securityanalyzer {
	border: 1px solid red;
	background: #ffffea url(../../../images/icons/large/error.gif) no-repeat 2% 2%;
	margin: 0 auto;
	font-weight: bold;
	padding: 2em 1em 1em 8em; /* top, right, bottom, left */
    width: 80%;
    min-height: 2.5em;
	margin-bottom: 1em;
}

/* styling for a page icon */
div.pn-adminpageicon {
	padding: 0px 0px 10px 5px; /* top, right, bottom, left */
}
div.pn-adminpageicon img{
    float: right;
	padding-top: 5px;
}

/* styling for a module icon */
div.pn-adminmodicon {
	margin: 0px 0px 0px 0px; /* top, right, bottom, left */
	padding: 15px 15px 5px 5px; /* top, right, bottom, left */
	
}
div.pn-adminmodicon img{
    float: left;
	padding-top: 10px;
}

/* styles for the warning message shown if any of the install directory,
install.php or psak.php are found */
div.warning-container {
	margin-bottom: 10px;
	text-transform: uppercase;
	background-color: #ffffea;
    color: inherit;
	text-align: center;
	border: 1px solid red;
	padding: 10px;
}
div.warning-container h2 {
	color: red;
    background-color: inherit;
	display: inline;
}
div.warning-container img {
	float: left;
}

/* Used to style the cancel delete button when asking for a confirmation */
div.canceldelete-container {
    margin: 0 auto;
    color: inherit;
	background-color: #ffffea;
	width: 30%;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 10px 0px 10px 0px; /* top, right, bottom, left */
}

div.canceldelete-container h2 {
	color: gray;
    background-color: inherit;
	display: inline;
}
div.canceldelete-container img {
	float: left;
}

/* style tags for grouping of controls into logical 'sets' */
fieldset {
	border: 1px solid #D9DAD5;
    margin-top: 5px;
    padding: 0px 5px 5px 5px;
}
legend {
    padding: 5px;
	color: #0074B0;
    background-color: inherit;
}
/* an exclusive margin for the admin panel fieldsets */
form.pn-adminform fieldset {
    margin-bottom: 15px;
}

/* disabled admin funciton links */
div.pn-admincontainer a.pn-disabledadminlink, div.pn-adminbox a.pn-disabledadminlink {
	font-weight:lighter;
	text-decoration:line-through;
}

/* styles for pager plugins */
div.pn-pager {
    text-align: center;
}
/* style for the selected item of the pager abc plugin */
div.pn-pager a.pn-pagerselected {
    font-weight: bold;
    text-decoration: underline;
}
/* style for the selected item of the pager plugin */
div.pn-pager span.pn-pagerselected {
    font-weight: bold;
}

/* styling for noscript category propertly selector label */
div.pn-admincontainer div.property_selector_noscript {
	display: inline;
}


