
.nl-wrapper .z-menu {
  margin-bottom: 1em !important;
}

.nl-green {
  color: #264409;
}
.nl-red {
  color: #880000;
}

.nl-round {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
